
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_R2_ACCESS_KEY_ID=
CLOUDFLARE_R2_API=
CLOUDFLARE_R2_BUCKET="ludora-dev"
CLOUDFLARE_R2_SECRET_KEY=
DATABASE_URL="postgres://root:root@ludora-db/ludora"
DOPPLER_CONFIG="dev"
DOPPLER_ENVIRONMENT="dev"
DOPPLER_PROJECT="ludora_back"
EMAIL_HOST="smtp.gmail.com"
EMAIL_PASSWORD="hcak asde mruf eird"
EMAIL_PORT="465"
EMAIL_USER=""
GOOGLE_MAPS_API_KEY=
JWT_SECRET=
NODE_ENV="debug"
POSTGRES_DB="ludora"
POSTGRES_PASSWORD="root"
POSTGRES_USER="root"
STRIPE_SECRET_KEY=""